[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests-oauthlib = "*"
requests = "*"
unidecode = "*"
nltk = "*"
jupyter = "*"

[requires]
python_version = "3.5"
